@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2:400,500,600,700&amp;display=swap');

body {
	font-family: 'Baloo Chettan 2', cursive;
	font-weight: 400;
}


    .navbar-light .navbar-nav .nav-link {
    color: #65605e;
    font-size: 1.1rem!important;
    font-weight: 500;
}

.navbar {
	padding: .2rem .6rem;
	border-radius: 5px;
}

.topbar {
    background-color: #2975bb;
    color:#fff;
}

.socials {
    float: right;
}

    .socials a {
        display: inline-block;
        color: #ffffff;
        height: 35px;
        width: 35px;
        line-height: 35px;
        border-radius: 50%;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.05);
        float: left;
    }

        .socials a:hover {
            display: inline-block;
            color: #ffffff;
            height: 35px;
            width: 35px;
            line-height: 35px;
            border-radius: 50%;
            text-align: center;
            background-color: #eb1436 !important;
            float: left;
        }

.menubar {
    background-color: #f8f8f8;
}

.navbar-nav {
    margin-top: 36px;
    margin-bottom: 18px;
}

.grsbtn {
    border: 2px solid #0096db;
    border-radius: 5px;
    color: #505050 !important;
}

    .grsbtn:hover {
        border: 2px solid #eb1436;
        background: #eb1436;
        color: #fff !important;
    }

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
    margin-right: 0.4rem;
    margin-left: 0.4rem;
	font-size: 15px;
}
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #eb1436;
}

a:hover {
    text-decoration: none!important; 
}

footer {
    padding: 10px 0;
    background: #f2f2f2;
    color: #65605e;
    font-size: 12px;
    font-weight: 400;
    margin-top: 15px;
}

@media (max-width: 992px) {	
	#footer-logo {
		text-align: left!important
	}
}

@media screen and (max-width: 767px) {
    .chattable tr td:nth-child(1) {
        width: 60% !important;
    }

    .video-js {
        width: 100% !important;
    }

    #PnlCanliYayin {
        margin-top: 20px;
    }

    .offset-1, #pnlcanliyayin {
        margin-left: 0 !important;
    }
}
.baslik {
    color: #FFF;
    font-weight: 600;
    font-size: 20px;
    background-color: #e30b13;
    margin: 40px 0 20px 0;
    padding: 10px;
    border-radius: 5px;
}

.ilk-baslik {
	margin: 20px 0!important
}

.tanim {
	font-size: 13px;
	color:rgba(156,156,156,1.00);
	text-align: center;
	margin-top:3px;
}


.carousel-inner {
	border-radius:5px
}

.sponsor {
	margin-top: 20px;
}

.altbaslik {
	text-align: center;
    font-size: 20px;
    padding: 0px;
    margin: 0;
    font-weight: 500;
    color: #e30b13;
}

.yazi {
	background-color:#EBEBEB;
	text-align: center;
	padding: 20px 0;
	color:#e30b13;
	margin-top: 15px;
}

.buton-bg {
    width: 160px;
    padding: 15px;
    border-radius: 17px 3px;
    background-color: #961914;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%239c1915' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23a11915' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23a71916' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23ad1816' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23b31817' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23bc1716' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23c61516' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23d01215' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23d90f14' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23e30b13' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

.btn:hover {
    color: #fff !important;
}
.butonlar {
	text-align: center;
	color: #FFF!important
}

.butonlar a {
	color: #FFF!important
}

input {
    /*margin-bottom: 5px*/
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.AlseinTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 3px;
}

.AlseinTable td:first-child {
    color: #0096db;
    width: 8px;
}

.AlseinTable td:nth-child(2) {
    background-color: #de0015;
    color: white;
    border-radius: 3px;
    width: 150px;
    text-align: center;
    padding: 0 3px;
}

@media screen and (max-width: 990px) {
    .sponsor_banner {
        display: none;
    }
    .girisbg {
        margin: 0 !important
    }

    .msgtable td:nth-child(1) {
        width: 60% !important;
    }

    .AlseinTable {
        width: 100% !important;
    }

    .modalxx {
        width: 100% !important;
        height: 100% !important;
    }

    .modal-dialogxx {
        max-width: 90%;
        margin: 1.75rem auto;
    }
}

@media (min-width: 576px){
    .modal-dialogxx {
        max-width: 90%;
        margin: 0.75rem 0 1.75rem auto;
    }

    .modalxx {
        width: 90% !important;
        height: 90% !important;
    }
}


